@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=PT+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f0c4;
  background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
  font-family: 'Crimson Text', serif;
  background-size: auto;
}


.h2 {
  margin:50px;
  text-align: center;
}
h1 {
  color: #742c5c;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-decoration-line: unset;
          text-decoration-line: unset;
}

.prueba {
  margin-left: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tercera {
  font-family: 'Crimson Text', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  line-height: 10px;
  word-spacing: 10px;
  margin-top: 50px;
  margin-left: 60px;
}

.logo {
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fuente {
  font-family: 'Crimson Text', serif;
  font-size: 12;
  font-style: inherit;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  word-spacing: 2px;
}

.segunda {
  font-family: 'Crimson Text', serif;
  color: #742c5c;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 25px;
  text-transform: capitalize;
  line-height: 2;
  word-spacing: 5px;
  margin: 50px;
  float: left;
  justify-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.segunda li {
  list-style-type: none;
}

.segunda li a {
  text-decoration: none;
  color: #742c5c;
}

.segundaa:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.caja2 {
  margin-bottom: 70px;
  margin-left: 70px;
  margin-top: 70px;
}

.caja2 img {
  width: 540px;
  height: 350px;
  border: 2px double #ffad8f;
}

.main {
  font-family: 'Crimson Text', serif;
  margin-left: 350px;
  width: 500px;
  text-align: justify;
  font-size: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.uno {
  font-family: 'Crimson Text', serif;
  margin-left: 320px;
  margin-bottom: 50px;
  width: 700px;
  text-align: justify;
  font-size: 16px;
}
.catering {
  background-color: #f8cff1;
  width: 1000px;
  height: 700px;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 150px;
  text-align: center;
  margin-bottom: 50px;
}

.div {
  width: 250px;
  height: 200px;
  background-color: #fdc9b4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgb(253, 159, 203);
  font-size: 16px;
  font-family: 'PT Serif', serif;
}

.div li {
  list-style-type: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marg {
  margin-left: 400px;
  padding: 0px;
  margin-top: 0px;
}

th {
  font-family: 'PT Serif', serif;
  font-style: oblique;
  background-color: #e794f8;
  font-size: 20px;
}

section {
  font-family: 'Crimson Text', serif;
  font-size: 12;
  font-style: inherit;
  margin: 50px;
}

footer {
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 20px;
}

.gradiente {
  background: -webkit-gradient(linear, right top, left top, from(#fdf7a3), color-stop(#df5b98), to(#f0c6ea));
  background: linear-gradient(to left, #fdf7a3, #df5b98, #f0c6ea);
  width: auto;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.gradiente img {
  width: 20px;
  height: 20px;
}

@media (min-width: 320px) and (max-width: 768px) {
  body {
    background-color: #fa9a9a;
    width: auto;
  }
  td {
    width: auto;
  }
  h1 {
    height: auto;
    margin-left: auto;
  }   
  .segunda {
    font-size: 20px;
  }
  .caja2 img {
    max-width: 100%;
    max-height: 100%; 
  }
  .prueba {
    width: 30%;
    margin-left: auto;
  }
  .uno {
    width: auto;
    margin-left: 30px;
    padding: 0;
  }
  .marg {
    width: auto;
    margin-left:25px;
    padding: 0;
    display: flex;
  }
  .catering {
    width: auto;
    margin: auto;
    height: auto;
    display: flex;
    margin-left: 25px;
  }
  .div {
    width: 30%;
    margin: 0;
    height: 30%;
  }
  .main {
    width: auto;
    margin: 50px;
    height: auto;
    display: flex;
  }
  .caja2{
    margin: auto;
    height: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  body {
    background-color: #fa9a9a;
    width: 90%;
    max-width: 1024px;
  }
  h1 {
    height: auto;
    margin-left: 250px;
  }
  .segunda {
    font-size: 25px;
  }
  .prueba {
    width: auto;
    margin-left: 150px;
  }
  .caja2 img {
    display: flex;
    margin: 0;
    max-width: 100%;
  }
  .uno {
    width: 60%;
    margin-left: 250px;
    padding: 0;
  }
  .marg {
    width: auto;
    margin-left:250px;
    padding: 0;
    display: flex;
  }
  .catering {
    width: auto;
    margin: auto;
    margin-left: 50px;
    height: auto;
    display: flex;
  }
  .div {
    width: 50%;
    margin: 0;
    height: 50%;
  }
  .main {
    width: auto;
    margin-left: 250px;
    height: auto;
    display: flex;
  }
  .caja2{
    margin: auto;
    height: 80%;
  }
}
@media (min-width: 1200px) {
  body {
    background-color: #fa9a9a;
    width: auto;
  }
  main {
    width: auto;
  }
  h1 {
    height: auto;
  }   
}
/*# sourceMappingURL=estilo.css.map */